body{
	width: 1024px;
	height: 768px !important;
	background-color: rgb(223, 190, 154);
}

@font-face {
  font-family: interB;
  src: url("/fonts/Interstate-Mono-Bold.otf");
}

@font-face {
  font-family: interM;
  src: url("/fonts/Interstate-Mono.otf");
}

table, th, td {
    border: 1px solid #ececec;
    border-collapse: collapse;
}
table, th, td .tabla6 {
    border: 0px;
    border-collapse: collapse;
}
tr:nth-child(even){background-color: #ececec}
th {
    background-color: #5990c1;
    color: white;
    font-size: 18px;
    font-family: arial;
}
/*table, th, td, #pre1, #pre2, #pre3, #pre4, #pre5, #pre6, #pre7, #pre8, #pre9, #pre10, #pre11, #pre12, #pre13, #pre14, #pre15, #pre16, #pre17, #pre18, #pre19, #pre20 {
    border: 0px;
    border-collapse: separate;
    background: #FFF;
}*/
.radioStyle {
    margin-right: 7px;
}

.txt-justificado{
	text-align: justify;
}
.txt-centrado{
	text-align: center;
}
.msg-encuesta{
	  font-size: 39px;
    text-align: center;
    margin-top: 130px;
    color: #147299;
}
.ir-home{
    position: absolute;
    bottom: -5px;
    left: 70px;
    width: 74px;
    height: 67px;
}
.cuento-img{
	    border: solid;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 130px;
    bottom: 14px;
}
#contenedor {
    width: 1024px;
    background: #FFFFFF url(/../img/home/espiral.png) center center no-repeat;
    background-size: 100%;
}
.logo1 {
    background: url(/../img/home/logoAngels.png);
    background-repeat: no-repeat;
    background-size: 100%;
    top: 10px;
    left: 50px;
    width: 400px;
    height: 183px;
    /* border: 1px solid; */
    position: absolute;
}
.logo2 {
    background: url(/../img/home/logoBo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    top: 15px;
    left: 815px;
    width: 200px;
    height: 63px;
    /* border: 1px solid; */
    position: absolute;
}
.contiene-presentacion{
	background: url(/../img/gral/fondo.png) center center no-repeat;
	background-size: 100%;
}
.contiene-preGrupo{
    background: url(/../img/gral/fondo.png) center center no-repeat;
    background-size: 100%;
}
.mismo-fondo{
    /*background: url(/../img/agenda/fondoAgenda.jpg) center center no-repeat;*/
   background-size: 100%;
}
.paginas{
	width: 1024px;
	height: 768px;
}
.contiene-paginas{
	position: absolute;
	/*top: -77px;*/
	left: 0px;
}
.sub-menus{
	position: absolute;
    width: 226px;
    height: 122px;
    right: 122px;
    cursor: pointer;

}
.logo-home{
	position: absolute;
	background: url(/../img/home/logoHome.jpg) no-repeat;
	width: 546px;
    height: 324px;
    top: 159px;
    left: 31px;
}

.   sub-grupos {
    top: 535px;
    left: 505px;
    width: 300px;
    height: 80px;
    background: #d31e21 url(/../img/home/plenaria.png);
    background-repeat: no-repeat;
    background-position: 15px 6px;
    background-size: 20%;
    border: 4px solid #e5e5e5;
    border-radius: 7px;
    padding: 5px 5px 5px 75px;
}
.sub-grupos:before {
    position: absolute;
    white-space: pre;
    content: "Break Out";
    font-size: 40px;
    font-family: "interM";
    /* text-align: left; */
    line-height: 30px;
    color: #FFFFFF;
    padding: 10px;
    z-index: 5;
    top: 14px;
    left: 90px;
    /* height: 61px; */
    /* width: 595px; */
}

.sub-encuestas {
    top: 410px;
    left: 362px;
    width: 300px;
    height: 80px;
    background: #d31e21 url(/../img/home/encuesta.png);
    background-repeat: no-repeat;
    background-position: 15px 4px;
    background-size: 20%;
    border: 4px solid #e5e5e5;
    border-radius: 7px;
    padding: 5px 5px 5px 75px;
}
.sub-encuestas:before {
    position: absolute;
    white-space: pre;
    content: "Encuesta";
    font-size: 40px;
    font-family: "interM";
    /* text-align: left; */
    line-height: 30px;
    color: #FFFFFF;
    padding: 10px;
    z-index: 5;
    top: 14px;
    left: 90px;
    /* height: 61px; */
    /* width: 595px; */
}
.sub-pregunta-experto {
    position: absolute;
    top: 410px;
    left: 690px;
    width: 300px;
    height: 80px;
    background: #d31e21 url(/../img/home/experto.png);
    background-repeat: no-repeat;
    background-position: 15px 6px;
    background-size: 20%;
    border: 4px solid #e5e5e5;
    border-radius: 7px;
    padding: 5px 5px 5px 75px;
}
.sub-pregunta-experto:before {
    position: absolute;
    /* white-space: pre; */
    content: "Pregunta al experto";
    font-size: 32px;
    font-family: "interM";
    /* text-align: left; */
    line-height: 30px;
    color: #FFFFFF;
    padding: 10px;
    z-index: 5;
    top: 0px;
    left: 92px;
    /* height: 61px; */
    /* width: 595px; */
}

.btn-back-encuesta {
    position: absolute;
    top: 615px;
    left: 860px;
    cursor: pointer;
}

.barra-menu{
	position: absolute;
    height: 66px;
    width: 986px;
    /*bottom: 9px;*/
    bottom: 0px;
    left: 20px;
    background: url(/../img/gral/plecaMenu.png) center center no-repeat;
	background-size: 100%;
}
.btn-menu{
	width: 120px;
}
.btn-voto{
	    right: 145px;
    width: 120px;
}
.btn-pregunta{
    left: -6px;
    width: 112px;
    bottom: 50px;
}
.barra-menu-top{
	position: absolute;
    height: 66px;
    width: 986px;
    top: -30px;
    left: 20px;
}
.btns-menu-top{
	position: absolute;
	width: 140px;
	height: 62px;
}
.btns-menu-top img{
	width: 100%;
}
.btn-agenda{
	left: 17px;
	/*background: url(/../img/home/btnAgenda.png) center center no-repeat;*/
}
.btn-sede{
	left: 164px;
	/*background: url(/../img/home/btnSede.png) center center no-repeat;*/
}
.btn-ponentes{
	left: 313px;
	/*background: url(/../img/home/btnPonentes.png) center center no-repeat;*/
}
.btn-staff{
	left: 463px;
	/*background: url(/../img/home/btnStaff.png) center center no-repeat;*/
}
.btn-presentaciones{
	left: 620px;
	/*background: url(/../img/home/btnPonencia.png) center center no-repeat;*/
	width: 196px;
	
}
.btn-presentaciones img{
	height: 103px;
}
.btn-encuestas{
	left: 823px;
	/*background: url(/../img/home/btnEncuestas.png) center center no-repeat;*/
}
.encuestas-grales{
    margin-top: -171px;
}
.encuestas-grales2{
      margin-top: -35px;
}
.agrego-top{
	top: 19px;
}
.contenidoGru {
    width: 975px;
    height: 532px;
    overflow: auto;
    z-index: auto;
    position: absolute;
    top: 134px;
    left: 0px;
    /* border: 1px solid; */
}
.manitaPre {
    position: absolute;
    right: 25px;
    top: 328px;
}
.in-presentaciones{
    width: 1024px;
    height: 768px;
    background: #FFFFFF url(/../img/gral/pleca.png) 0px 0px no-repeat;
    background-size: 100%;
}
.contenidoPre {
    width: 977px;
    height: 505px;
    overflow: auto;
    z-index: auto;
    position: absolute;
    top: 70px;
    left: 0px;
    /* border: 1px solid; */
}
.tituloPlenaria {
    position: absolute;
    background-color: #70b447;
    background-position: 0px 16px;
    top: 25px;
    left: 774px;
    width: 250px;
    height: 30px;
}
.tituloPlenaria:before {
    content: "Presentaciones";
    position: absolute;
    top: -8px;
    left: -290px;
    font-family: "interM";
    font-size: 40px;
    color: #cd1518;
    text-align: center;
    text-transform: initial;
    font-weight: bold;
    /* box-shadow: #bdbdbd 0px 0px 5px -1px; */
}
.logoPlenaria {
    top: 625px;
    left: 306px;
    width: 148px;
    height: 148px;
    background: url(/../img/home/plenariaG.png)center center no-repeat;
    background-size: 62%;
    position: absolute;
}
.veo-pre {
    position: absolute;
    width: 850px;
    height: 50px;
    left: 60px;
    cursor: pointer;
    background: #edecec;
    border-radius: 6px;
    border: 1px solid #c1c1c1;
    z-index: 1;
}
.veo-preGrande {
    position: absolute;
    width: 850px;
    height: 75px;
    left: 60px;
    cursor: pointer;
    background: #edecec;
    border-radius: 6px;
    border: 1px solid #c1c1c1;
    z-index: 1;
}
.pre1:before {
    white-space: pre;
    content: "Iniciativa Angels - Lic. Ricardo Burgos";
    position: absolute;
    height: 61px;
    width: 595px;
    font-size: 22px;
    font-family: "interM";
    text-align: left;
    line-height: 30px;
    color: #000000;
    padding: 10px;
    left: 30px;
    top: 0px;
    z-index: 5;
}
.pre2:before {
    white-space: pre;
    content: "Experiencia Internacional - Dra. Sheila Martins";
    position: absolute;
    height: 61px;
    width: 595px;
    font-size: 22px;
    font-family: "interM";
    text-align: left;
    line-height: 30px;
    color: #000000;
    padding: 10px;
    left: 30px;
    top: 0px;
    z-index: 5;
}
.pre3:before {
    white-space: pre;
    content: "Neurología y urgencias en sinergia - Dr. Fernando Góngora | Dr. Daniel López Tapia";
    position: absolute;
    height: 61px;
    width: 595px;
    font-size: 22px;
    font-family: "interM";
    text-align: left;
    line-height: 30px;
    color: #000000;
    padding: 10px;
    left: 30px;
    top: 0px;
    z-index: 5;
}
.pre4:before {
    white-space: pre;
    content: "Responsabilidad social y acciones coordinadas - Dr. Fernando Góngora";
    position: absolute;
    height: 61px;
    width: 595px;
    font-size: 22px;
    font-family: "interM";
    text-align: left;
    line-height: 30px;
    color: #000000;
    padding: 10px;
    left: 30px;
    top: 0px;
    z-index: 5;
}
.pre5:before {
    white-space: pre;
    content: "Relevancia de los registros médicos - Dr. Luis Murillo Bonilla";
    position: absolute;
    height: 61px;
    width: 595px;
    font-size: 22px;
    font-family: "interM";
    text-align: left;
    line-height: 30px;
    color: #000000;
    padding: 10px;
    left: 30px;
    top: 0px;
    z-index: 5;
}
.pre6:before {
    white-space: pre;
    content: "Impacto de las guías de práctica clínica internacional - Dr. Juan Manuel Calleja"; /* Día SABADO*/
    position: absolute;
    height: 61px;
    width: 595px;
    font-size: 22px;
    font-family: "interM";
    text-align: left;
    line-height: 30px;
    color: #000000;
    padding: 10px;
    left: 30px;
    top: 0px;
    z-index: 5;
}
.pre7:before {
    white-space: pre;
    content: "Hacia la certificación de la Trombólisis en México - Dr. Carlos Espinosa";
    position: absolute;
    height: 61px;
    width: 595px;
    font-size: 22px;
    font-family: "interM";
    text-align: left;
    line-height: 30px;
    color: #000000;
    padding: 10px;
    left: 30px;
    top: 0px;
    z-index: 5;
}
.pre8:before {
    white-space: pre;
    content: "Consolidación del Stroke Team - Dr. Juan Manuel Márquez-Romero";
    position: absolute;
    height: 74px;
    width: 595px;
    font-size: 22px;
    font-family: "interM";
    text-align: left;
    line-height: 30px;
    color: #000000;
    padding: 10px;
    left: 30px;
    top: 0px;
    z-index: 5;
}
.pre9:before {
    white-space: pre;
    content: "Rol del Urgenciólogo en el Stroke Team - Dr. Ricardo Ascencio";
    position: absolute;
    height: 61px;
    width: 595px;
    font-size: 22px;
    font-family: "interM";
    text-align: left;
    line-height: 30px;
    color: #000000;
    padding: 10px;
    left: 30px;
    top: 0px;
    z-index: 5;
}
.pre10:before {
    white-space: pre;
    content: "Experiencias mexicanas en hospitales \a Dr. Daniel López Tapia y Dr. Refugio Luquin | Dr. Fernando Góngora | Dr. Juan Manuel Calleja";
    position: absolute;
    height: 83px;
    width: 770px;
    font-size: 20px;
    font-family: "interM";
    text-align: left;
    line-height: 30px;
    color: #000000;
    padding: 10px;
    left: 20px;
    top: 0px;
    z-index: 5;
}
.pre11:before {
    white-space: pre;
    content: "Importancia del 9-1-1 - Dr. Daniel Sánchez Arreola";
    position: absolute;
    height: 61px;
    width: 573px;
    font-size: 22px;
    font-family: "interM";
    text-align: left;
    line-height: 30px;
    color: #000000;
    padding: 11px;
    left: 30px;
    top: 0px;
    z-index: 5;
}
.pre12:before {
    white-space: pre;
    content: "¿Qué sigue después de un EVC? - Dr. José Santos";
    position: absolute;
    height: 61px;
    width: 595px;
    font-size: 22px;
    font-family: "interM";
    text-align: left;
    line-height: 30px;
    color: #000000;
    padding: 10px;
    left: 30px;
    top: 0px;
    z-index: 5;
}
.cont-pre-1{
	background: url(/../img/ponencias/ponencias1.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
    top: 146px;
    left: 66px;
    width: 802px;
    height: 465px;
}
.cont-pre-2{
	background: url(/../img/ponencias/ponencias2.png) center center no-repeat;
	background-size: 100%;
	position: absolute;
    top: 146px;
    left: 66px;
    width: 802px;
    height: 465px;
}
.btn-siguiente-pre{
    position: absolute;
    width: 155px;
    height: 43px;
    top: 580px;
    left: 742px;
    background: url(/../img/ponencias/btnSiguiente.png) center center no-repeat;
	background-size: 100%;
}
.btn-anterior-pre{
    position: absolute;
    width: 155px;
    height: 43px;
    top: 580px;
    left: 33px;
    background: url(/../img/ponencias/btnAtras.png) center center no-repeat;
	background-size: 100%;
}
.pre1{
	margin-top: 15px;
}
.pre2{
	margin-top: 85px;
}
.pre3{
	margin-top: 155px;
}
.pre4{
	margin-top: 225px;
}
.pre5{
	margin-top: 295px;
}
.pre6{
	margin-top: 367px;
}
.pre7{
	margin-top: 440px;
}
.pre8{
	margin-top: 515px;
}
.pre9{
	margin-top: 590px;
}
.pre10{
    margin-top: 665px;
}
.pre11{
    margin-top: 765px;
}
.pre12{
    margin-top: 915px;
}
.fecha-presentacion{
	position: absolute;
	    top: 127px;
    left: 64px;
}
.pre-paginas-1{
    display: none;
}

#selecciona{
	background: url(/../img/Back_JPG/Pantalla3-01.jpg);
	width: 1024px;
    height: 768px;
}
.circulo{
	position: absolute;
	z-index: 1;
  	border-radius: 100px;
	width: 160px;
	height: 160px;
}
.btn-live{
	top: 582px;
    left: 225px;
}
.btn-cerrar{
	  background: url(/../img/barramenu/icoCerrar.png)no-repeat;
      position: absolute;
      z-index: 1;
      width: 151px;
      height: 75px;
      top: 5px;
      left: 752px;
      font-size: 42px;
      text-align: center;
}
.btn-bienvenido{
    top: 29px;
    left: 198px;
}
.icono-cerrar{
	width: 86px;
    height: 80px;
    right: 0px;
    position: absolute;
    font-size: 52px;
    color: red;
    text-align: center;
    top: -30px;
}
.jugadores{
	position: absolute;
}
#chat{
			height: 500px;
		}
		#contentWrap{
			display: none;
		}
		#chatWrap{
			float: left;
			border: 1px #000 solid;
		}
		.error{
			color: red;
		}
		.whisper{
			color: gray;
			font-style: italic;
		}
		.oculto{
			display: none;
		}
		#notificacion{
			position: absolute;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 12%;
  background: url(/../img/home/alerta.png) center center no-repeat;
  color: #2C3B83;
  font-size: 40px;
  z-index: 10;
    border-radius: 30px;
    width: 905px;
  height: 520px;
    background-size: 905px;
		}
		.txt-alerta{
    top: 61px;
    position: absolute;
    left: 180px;
    text-align: justify;
    color: black;
    width: 616px;
    text-align: center;
		}

		.img-inicio{
			width: 1024px;
			height: 768px;
			position: absolute;
			  left: 0px;
		}
		
		#muestro_voteo{
			position: absolute;
  			z-index: 1;
  			  border-radius: 100px;
			width: 160px;
			height: 160px;
			top: 474px;
			left: 369px;
			font-size: 42px;
			text-align: center;
		}

		#encuesta{
			position: absolute;
			z-index: 1;
			background: red;
			border-radius: 25px;
			width: 160px;
			height: 100px;
			top: 88%;
			left: 20%;
			  font-size: 42px;
  text-align: center;

		}
		#notas{
			position: absolute;
			z-index: 1;
			border-radius: 25px;
			width: 78px;
		  	height: 87px;
		  	top: 29px;
  			left: 918px;
		  	font-size: 42px;
		  	text-align: center;
		}
		.progressbar .ui-progressbar-value {
			background: rgb(255, 169, 22);
  }
  .frm-login{
  	    padding-left: 135px;
    padding-top: 60px;
    font-size: 45px;
  }
  .gracias{
  	font-size: 35px;
    position: relative;
    margin-top: 70px;
    margin-left: 48%;
    margin-right: 10%;
    text-align: center;
  }
.titulos-grales{
	position: absolute;
    top: 95px;
    left: 5%;
}

.contenido-gral{
	position: absolute;
	  top: 155px;
  width: 973px;
  height: 530px;
  margin-left: 2%;
  margin-right: 2%;
  
}
.pag-bienvenido{
	margin-left: 3%;
	background: url(/../img/bienvenida/fondoCuadroBienvenida.png) center center no-repeat;
	background-size: 889px 542px;
	width: 889px;
	height: 537px;
	overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
  padding-left: 24px;
}
.pag-agenda{
	margin-left: 22px;
	background: url(/../img/agenda/cuadroAgenda.png) center center no-repeat;
	background-size: 845px 542px;
	width: 845px;
	height: 537px;
	
}
.btn-dia1{
	background: url(/../img/agenda/btndia1.png) center center no-repeat;
	width: 145px;
	height: 76px;
	position: absolute;
	right: -38px;
	top: 0px;
}
.btn-dia2{
	background: url(/../img/agenda/btndia2.png) center center no-repeat;
	width: 145px;
	height: 76px;
	position: absolute;
	right: -38px;
	top: 70px;
}
.pag-ponentes{
	padding-left: 67px;
}
.pag-ponentes2{
  padding-left: 67px;
}
.menu-agenda{
	  position: absolute;
  top: 70px;
  left: 142px;
  background: url(/img/barramenu/texto.png) center center no-repeat;
  width: 208px;
  height: 54px;
}
.dia1{
	  
}
.dia2{
	 
}
.ir-notas{
	  position: absolute;
  right: 27px;
  top: 2px;
}
.ir-live{
	  position: absolute;
  top: 8px;
  right: 344px;
}
.ir-voteo{
	  position: absolute;
  top: 8px;
  left: 330px;
}
.ir-agenda{
	  position: absolute;
  top: 8px;
  left: 155px;
    height: 65px;
  width: 180px;
}
.ir-inicio{
	position: absolute;
	margin-left: 22px;
	margin-top: 8px;
}
.fondo-descripcion{
	background: url(/../img/ponentes/cuadroTxt.png) center center no-repeat;
	background-size: 746px 436px;
	width: 746px;
	height: 448px;
	position: absolute;
	left: 130px;
	top: 108px;
border-radius: 26px;
opacity: 0.8;
    overflow-x: hidden;
  overflow-y: auto;
  padding: 25px;
}
.titulo-regreso{
	position: absolute;
  right: 10px;
}

.jugadores img{
	width: 176px;
}
.pirata1{
	left: 117px;
  top: 421px;
}
.pirata2{
	left: 731px;
  top: 421px;
}
.pirata3{
	  left: 424px;
  top: 150px;
}
.pirata4{
	left: 424px;
  top: 421px;
}
.pirata5{
	  left: 117px;
  top: 150px;
}
.pirata6{
	  left: 731px;
  top: 150px;
}
.pirata-select{
	position: absolute;
	left: 79px;
  top: 79px;
}
.pirata-select img{
	width: 176px;
}
#setNick{
	position: absolute;
  top: 599px;
  left: 351px;
}
#nickname{
	  height: 50px;
  font-size: 38px;
  width: 291px;
  text-align: center;
  font-family: Pirata;
  border: white;
}
.btn-envio{
	width: 50px;
  position: absolute;
  left: -222px;
  top: -53px;
}
.btn-envio img,.btn-continua img{
	width: 151px;
}
.titulo-espera{
	position: absolute;
	font-family: Pirata;
	  top: 280px;
  font-size: 90px;
  text-align: center;
    margin-left: 25%;
  margin-right: 25%;
    color: #7E4E12;
}
.titulo-bienvenido{
	font-family: Pirata;
  font-size: 40px;
  text-align: center;
}
#leyenda{
	  position: absolute;
  font-family: Pirata;
  font-size: 40px;
  text-align: center;
  right: 4px;
  top: 62px;
}
.btn-continua{
	  width: 50px;
  position: absolute;
  right: 210px;
  top: 112px;
}
#titulo-nombre{
	position: absolute;
  top: -28px;
  left: 47px;
}
#mapas{
	display: inline-block;
	width: 600px;
	height: 600px;
	  margin-left: 40px;
  margin-top: 60px;
}
#mapa-enemigo{
	display: inline-block;
	width: 600px;
	height: 600px;
	margin-left: 278px;
	margin-top: 50px;
}
#mini-mapa{
	width: 200px;
height: 200px;
position: absolute;
  top: 60px;
  left: 40px;
  
}
.leyenda-tuposicion{
	  position: absolute;
  font-family: Pirata;
  font-size: 30px;
  left: 80px;
}
.leyenda-suposicion{
	  position: absolute;
  font-family: Pirata;
  font-size: 30px;
  right: 360px;
}
.fondo-negro{
	background: rgba(0,0,0,0.8);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9;
}
.fondo-blanco{
    background: rgb(242, 222, 222);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.fondo-infos {
    background: #FFFFFF url(../img/gral/pleca.png) 0px 0px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 768px;
    z-index: 9;
}
.fondo-pregunta{
	    background: url(../img/pregunta/recuadrotexto.png) center center no-repeat;
  position: absolute;
  width: 642px;
  height: 278px;
  top: 177px;
  left: 110px;
}
.muestro-notas{
	background: url(/../img/notas/fondoNotas.png) center center no-repeat;
	background-size: auto;
    position: absolute;
    width: 87%;
    height: 595px;
    z-index: 10;
    margin: 7%;
    border-radius: 40px;
}
.listar-notas{
	position: absolute;
	top: 51px;
	left: 12px;
	height: 487px;
	overflow-x: hidden;
    overflow-y: auto;
}
.view-nota{
	/*background: url(../img/notas/cuadroTxtNotas.png) center center no-repeat;*/
	background-size: 180px 33px;
	width: 180px;
	height: 33px;
	color: white;
	font-size: 16px;
	padding-left: 8px;
	padding-top: 4px;
}
.btn-borro-nota{
	position: absolute;
	bottom: 88px;
	left: 216px;
}
.tanger-live {
    background: #FFFFFF url(/../img/gral/pleca.png) 0px 1px; 
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 1024px;
    height: 768px;
    z-index: 10;
    /*margin: 120px 2px 2px 80px;*/
}
.contiene-pregunta {
    background: #FFFFFF url(/../img/gral/fondoSuperior3.png) 0px 0px no-repeat;
    /* background-size: auto; */
    position: absolute;
    width: 1024px;
    height: 768px;
    z-index: 100;
    /* margin: 7%; */
    /* border-radius: 40px; */
    background-color: white;
    top: 0px;
    left: 0px;
    border: 1px solid red;
}
.reloj {
    position: absolute;
    font-size: 55px;
    left: 957px;
    bottom: 1px;
}
.css-label{
    padding-left: 10px;
}
.preguntas-voteo-muestro{
    padding-bottom: 0px;
}
.tituloExperto {
    position: absolute;
    background-color: #70b447;
    background-position: 0px 16px;
    top: 25px;
    left: 774px;
    width: 250px;
    height: 30px;
}
.tituloExperto:before {
    content: "Pregúntale al experto";
    position: absolute;
    top: -8px;
    left: -400px;
    font-family: "interM";
    font-size: 40px;
    color: #cd1518;
    text-align: center;
    text-transform: initial;
    font-weight: bold;
    /* box-shadow: #bdbdbd 0px 0px 5px -1px; */
}
.logoExperto {
    top: 0px;
    left: 417px;
    width: 148px;
    height: 148px;
    background: url(/../img/home/expertoG.png)center center no-repeat;
    background-size: 60%;
    position: absolute;
}
#pregunta-ponente {
    position: absolute;
    background: #e0e0e0;
    font-size: 25px;
    font-family: "interM";
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 25px;
    border: 2px solid #cd3336;
    resize: none;
    z-index: 10;
    top: 110px;
    left: 117px;
    width: 800px;
    height: 415px;
}
.btn-envio-pregunta {
    position: absolute;
    width: 160px;
    height: 58px;
    top: 565px;
    right: 470px;
    font-size: 35px;
    /* background-color: #82B068; */
    text-align: center;
    border-radius: 10px;
}
.icono-cerrar-experto {
    top: 595px;
    left: 845px;
    width: 86px;
    height: 80px;
    position: absolute;
}

.txt-confirmado {
    display: inline;
    position: absolute;
    top: 222px;
    left: 295px;
}
.mandando-nota,.mandando-pregunta{
	position: absolute;
	width: 100%;
	height:100%;
	top: 0px;
	font-size: 35px;
	text-align: center;
	color: white;
	background-color: black;
	padding-top: 150px;
	opacity: 0.8;
	z-index: 102;
}
.cerrar-pregunta, .cerrar-alerta {
    background: #29388B;
    width: 200px;
    position: absolute;
    left: 111px;
    top: 170px;
    border-radius: 20px;
    z-index: 200;
}
.cerrar-alerta{
	  background: #29388B;
  width: 200px;
  position: absolute;
  left: 95px;
  top: 222px;
  border-radius: 20px;
  z-index: 200;

}
.pregunta {
    font-size: 23px;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: #333333;
}
.respuestas {
    font-size: 26px;
    margin-top: 70px;
    width: 980px;
    margin-left: 15px;
}
.respuestas p{
	padding-bottom: 20px;
    margin-left: 10px;
}
/*encuestas*/
.manita {
    position: absolute;
    right: 8px;
    top: 350px;
}
.in-encuestas{
    padding-top: 100px;
    background: #FFFFFF url(/../img/gral/pleca.png) 0px 0px no-repeat;
    background-size: 100%;
}
.muestro-encuestas {
    width: 600px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-shadow: 0px 0px 1px #a0a0a0;
    background-color: #90c07c;
    text-align: center;
    font-size: 45px;
    line-height: 95px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px #000;
    cursor: pointer;
}
.tituloEncuesta {
    position: absolute;
    background-color: #70b447;
    background-position: 0px 16px;
    top: 25px;
    left: 774px;
    width: 250px;
    height: 30px;
}
.tituloEncuesta:before {
    content: "Encuestas";
    position: absolute;
    top: -8px;
    left: -200px;
    font-family: "interM";
    font-size: 40px;
    color: #cd1518;
    text-align: center;
    text-transform: initial;
    font-weight: bold;
    /* box-shadow: #bdbdbd 0px 0px 5px -1px; */
}
.muestro-1{
	margin-top: 100px;
}
.muestro-2{
	margin-top: 50px;
}
.muestro-3{
	top: 465px;
}
.sub-titulo-int{
	font-size: 22px;
}
.titulo-pre-enc{
	    text-align: center;
    font-size: 18px;
}
#content {
    height: 768px;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../img/fondo_envio.jpg);
}
#evaluacion {
    /* border: solid; */
    width: 910px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: #c82348;
    font-family: "interM";
    font-size: 14px;
    overflow: auto;
    z-index: auto;
    background-color: rgb(255, 255, 255);
}
#evaluacion2 {
    /* border: solid; */
    width: 910px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    color: #c82348;
    font-family: "interM";
    font-size: 14px;
    overflow: auto;
    z-index: auto;
    background-color: rgb(255, 255, 255);
}

#top {
    height: 190px;
}
#title {
    margin-top: 160px;
    margin-left: 85px;
    text-align: center;
    width: 870px;
    font-family: "interM";
    font-size: 17px;
    font-weight: bold;
    color: #000000;
}
#title2 {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding: 10px 30px 10px 30px;
    width: 870px;
    font-family: "interM";
    font-size: 16px;
    font-weight: bold;
    color: #000000;
   /* background-color: rgba(250,235,206,0.5);*/
}
.title2{
	margin-top: 20px;
    text-align: center;
    width: 870px;
    font-family: "interM";
    font-size: 20px;
    font-weight: bold;
}

/* Encuestas */
#pre1, #pre2, #pre3, #pre4, #pre5, #pre6, #pre7, #pre8, #pre9, #pre10, #pre11, #pre12, #pre13, #pre14, #pre15, #pre16, #pre17, #pre18, #pre19, #pre20, #data, #oculto, #send, #correo {
    border-spacing: 1px 8px;
    border-collapse: separate;
}
#pre1, #pre2, #pre3, #pre4, #pre5, #pre6, #pre7, #pre8, #pre9, #pre10, #pre11, #pre12, #pre13, #pre14, #pre15, #pre16, #pre17, #pre18, #pre19, #pre20 {
    width: 880px;
    font-family: verdana;
    font-size: 16px;
    margin-top: 1px;
    color: #000000;
    /* border: 1px solid blue; */
}
.textareaClass {
    width: 860px;
    height: 80px;
    color: black;
    background: rgba(0, 0, 0, .0001);
    padding: 10px;
    font-size: 16px;
    font-family: verdana;
}
.res1,.res2,.res3,.res4,.res5,.res6,.res7,.res8,.res9,.res10 {
  color: #000;
}
#conditions {
    margin-top: 20px;
    border-spacing: 10px 5px;
    border-collapse: separate;
}
.black {
   color: black; 
}
#enviar {
    margin-left: 455px;
    margin-top: 10px;
    font-size: 30px;
}
.textoCuestionario {
    text-align: right;
    font-family: "interM";
    font-size: 14px;
    color: black;
    margin-left: 10px;
    margin-top: 10px;
    color: #000000
}
.textoCuestionario2 {
    text-align: right;
    font-family: "interM";
    font-size: 16px;
    color: black;
    margin-left: 10px;
    margin-top: 10px;
    color: #000000
}
#datos {
	margin-top: 30px;
	border-spacing: 10px 15px;
	border-collapse: separate;
}

#data {
    width: 850px;
    font-family: "interM";
    font-size: 16px;
    margin-top: 30px; 
}

#email {
    width: 300px;
}

#oculto {
    display: none;
}

#nombre {
    width: 300px;
} 