table, th, td {
    border: 1px solid #ececec;
    border-collapse: collapse;
}
table, th, td .tabla6 {
    border: 0px;
    border-collapse: collapse;
}
tr:nth-child(even){background-color: #ececec}
th {
    background-color: #5990c1;
    color: white;
    font-size: 18px;
    font-family: arial;
}
/*table, th, td, #pre1, #pre2, #pre3, #pre4, #pre5, #pre6, #pre7, #pre8, #pre9, #pre10, #pre11, #pre12, #pre13, #pre14, #pre15, #pre16, #pre17, #pre18, #pre19, #pre20 {
    border: 0px;
    border-collapse: separate;
    background: #FFF;
}*/
.radioStyle {
    margin-right: 7px;
}

.txt-justificado{
	text-align: justify;
}
.txt-centrado{
	text-align: center;
}
.msg-encuesta{
	  font-size: 39px;
    text-align: center;
    margin-top: 130px;
    color: #147299;
}
.ir-home{
    position: absolute;
    bottom: -5px;
    left: 70px;
    width: 74px;
    height: 67px;
}
.cuento-img{
	    border: solid;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 130px;
    bottom: 14px;
}


.mismo-fondo{
    /*background: url(/../img/agenda/fondoAgenda.jpg) center center no-repeat;*/
   background-size: 100%;
}


.btn-back-encuesta {
    position: absolute;
    top: 615px;
    left: 860px;
    cursor: pointer;
}

.barra-menu{
	position: absolute;
    height: 66px;
    width: 986px;
    /*bottom: 9px;*/
    bottom: 0px;
    left: 20px;
    background: url(/../img/gral/plecaMenu.png) center center no-repeat;
	background-size: 100%;
}
.btn-menu{
	width: 120px;
}
.btn-voto{
	    right: 145px;
    width: 120px;
}
.btn-pregunta{
    left: -6px;
    width: 112px;
    bottom: 50px;
}
.barra-menu-top{
	position: absolute;
    height: 66px;
    width: 986px;
    top: -30px;
    left: 20px;
}
.btns-menu-top{
	position: absolute;
	width: 140px;
	height: 62px;
}
.btns-menu-top img{
	width: 100%;
}
.btn-agenda{
	left: 17px;
	/*background: url(/../img/home/btnAgenda.png) center center no-repeat;*/
}
.btn-sede{
	left: 164px;
	/*background: url(/../img/home/btnSede.png) center center no-repeat;*/
}
.btn-ponentes{
	left: 313px;
	/*background: url(/../img/home/btnPonentes.png) center center no-repeat;*/
}
.btn-staff{
	left: 463px;
	/*background: url(/../img/home/btnStaff.png) center center no-repeat;*/
}
.btn-presentaciones{
	left: 620px;
	/*background: url(/../img/home/btnPonencia.png) center center no-repeat;*/
	width: 196px;
	
}
.btn-presentaciones img{
	height: 103px;
}
.btn-encuestas{
	left: 823px;
	/*background: url(/../img/home/btnEncuestas.png) center center no-repeat;*/
}
.encuestas-grales{
    margin-top: -171px;
}
.encuestas-grales2{
      margin-top: -35px;
}
.agrego-top{
	top: 19px;
}
.contenidoGru {
    width: 975px;
    height: 532px;
    overflow: auto;
    z-index: auto;
    position: absolute;
    top: 134px;
    left: 0px;
    /* border: 1px solid; */
}
.manitaPre {
    position: absolute;
    right: 25px;
    top: 328px;
}
.in-presentaciones{
    width: 1024px;
    height: 768px;
    background: #FFFFFF url(/../img/gral/pleca.png) 0px 0px no-repeat;
    background-size: 100%;
}
.contenidoPre {
    width: 977px;
    height: 505px;
    overflow: auto;
    z-index: auto;
    position: absolute;
    top: 70px;
    left: 0px;
    /* border: 1px solid; */
}
.tituloPlenaria {
    position: absolute;
    background-color: #70b447;
    background-position: 0px 16px;
    top: 25px;
    left: 774px;
    width: 250px;
    height: 30px;
}
.tituloPlenaria:before {
    content: "Presentaciones";
    position: absolute;
    top: -8px;
    left: -290px;
    font-family: "interM";
    font-size: 40px;
    color: #cd1518;
    text-align: center;
    text-transform: initial;
    font-weight: bold;
    /* box-shadow: #bdbdbd 0px 0px 5px -1px; */
}

.fecha-presentacion{
	position: absolute;
	    top: 127px;
    left: 64px;
}
.pre-paginas-1{
    display: none;
}

#selecciona{
	background: url(/../img/Back_JPG/Pantalla3-01.jpg);
	width: 1024px;
    height: 768px;
}
.circulo{
	position: absolute;
	z-index: 1;
  	border-radius: 100px;
	width: 160px;
	height: 160px;
}
.btn-live{
	top: 582px;
    left: 225px;
}
.btn-cerrar{
	  background: url(/../img/barramenu/icoCerrar.png)no-repeat;
      position: absolute;
      z-index: 1;
      width: 151px;
      height: 75px;
      top: 5px;
      left: 752px;
      font-size: 42px;
      text-align: center;
}
.btn-bienvenido{
    top: 29px;
    left: 198px;
}
.icono-cerrar{
	width: 86px;
    height: 80px;
    right: 0px;
    position: absolute;
    font-size: 52px;
    color: red;
    text-align: center;
    top: -30px;
}
.jugadores{
	position: absolute;
}
#chat{
			height: 500px;
		}
		#contentWrap{
			display: none;
		}
		#chatWrap{
			float: left;
			border: 1px #000 solid;
		}
		.error{
			color: red;
		}
		.whisper{
			color: gray;
			font-style: italic;
		}
		
		#notificacion{
			position: absolute;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 12%;
  background: url(/../img/home/alerta.png) center center no-repeat;
  color: #2C3B83;
  font-size: 40px;
  z-index: 10;
    border-radius: 30px;
    width: 905px;
  height: 520px;
    background-size: 905px;
		}
		.txt-alerta{
    top: 61px;
    position: absolute;
    left: 180px;
    text-align: justify;
    color: black;
    width: 616px;
    text-align: center;
		}

		.img-inicio{
			width: 1024px;
			height: 768px;
			position: absolute;
			  left: 0px;
		}
		
		#muestro_voteo{
			position: absolute;
  			z-index: 1;
  			  border-radius: 100px;
			width: 160px;
			height: 160px;
			top: 474px;
			left: 369px;
			font-size: 42px;
			text-align: center;
		}

	
		.progressbar .ui-progressbar-value {
			background: rgb(255, 169, 22);
  }
  .frm-login{
  	    padding-left: 135px;
    padding-top: 60px;
    font-size: 45px;
  }
  .gracias{
  	font-size: 35px;
    position: relative;
    margin-top: 70px;
    margin-left: 48%;
    margin-right: 10%;
    text-align: center;
  }
.titulos-grales{
	position: absolute;
    top: 95px;
    left: 5%;
}

.contenido-gral{
	position: absolute;
	  top: 155px;
  width: 973px;
  height: 530px;
  margin-left: 2%;
  margin-right: 2%;
  
}
.pag-bienvenido{
	margin-left: 3%;
	background: url(/../img/bienvenida/fondoCuadroBienvenida.png) center center no-repeat;
	background-size: 889px 542px;
	width: 889px;
	height: 537px;
	overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
  padding-left: 24px;
}

.fondo-descripcion{
	background: url(/../img/ponentes/cuadroTxt.png) center center no-repeat;
	background-size: 746px 436px;
	width: 746px;
	height: 448px;
	position: absolute;
	left: 130px;
	top: 108px;
border-radius: 26px;
opacity: 0.8;
    overflow-x: hidden;
  overflow-y: auto;
  padding: 25px;
}

.btn-envio{
	width: 50px;
  position: absolute;
  left: -222px;
  top: -53px;
}
.btn-envio img,.btn-continua img{
	width: 151px;
}
.titulo-espera{
	position: absolute;
	font-family: Pirata;
	  top: 280px;
  font-size: 90px;
  text-align: center;
    margin-left: 25%;
  margin-right: 25%;
    color: #7E4E12;
}

.titulo-bienvenido{
	font-family: Pirata;
  font-size: 40px;
  text-align: center;
}
.btn-continua{
	  width: 50px;
  position: absolute;
  right: 210px;
  top: 112px;
}
.fondo-negro{
	background: rgba(0,0,0,0.8);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9;
}

.tanger-live {
    background: #FFFFFF url(/../img/gral/pleca.png) 0px 1px; 
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 1024px;
    height: 768px;
    z-index: 10;
    /*margin: 120px 2px 2px 80px;*/
}

.reloj {
    position: absolute;
    font-size: 55px;
    left: 957px;
    bottom: 1px;
}
.css-label{
    padding-left: 10px;
}
.preguntas-voteo-muestro{
    padding-bottom: 0px;
}
.tituloExperto {
    position: absolute;
    background-color: #70b447;
    background-position: 0px 16px;
    top: 25px;
    left: 774px;
    width: 250px;
    height: 30px;
}
.tituloExperto:before {
    content: "Pregúntale al experto";
    position: absolute;
    top: -8px;
    left: -400px;
    font-family: "interM";
    font-size: 40px;
    color: #cd1518;
    text-align: center;
    text-transform: initial;
    font-weight: bold;
    /* box-shadow: #bdbdbd 0px 0px 5px -1px; */
}
.logoExperto {
    top: 0px;
    left: 417px;
    width: 148px;
    height: 148px;
    background: url(/../img/home/expertoG.png)center center no-repeat;
    background-size: 60%;
    position: absolute;
}
.icono-cerrar-experto {
    top: 595px;
    left: 845px;
    width: 86px;
    height: 80px;
    position: absolute;
}

.cerrar-pregunta, .cerrar-alerta {
    background: #29388B;
    width: 200px;
    position: absolute;
    left: 111px;
    top: 170px;
    border-radius: 20px;
    z-index: 200;
}
.cerrar-alerta{
	  background: #29388B;
  width: 200px;
  position: absolute;
  left: 95px;
  top: 222px;
  border-radius: 20px;
  z-index: 200;

}
.pregunta {
    font-size: 23px;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: #333333;
}
.respuestas {
    font-size: 26px;
    margin-top: 70px;
    width: 980px;
    margin-left: 15px;
}
.respuestas p{
	padding-bottom: 20px;
    margin-left: 10px;
}
/*encuestas*/
.manita {
    position: absolute;
    right: 8px;
    top: 350px;
}
.in-encuestas{
    padding-top: 100px;
    background: #FFFFFF url(/../img/gral/pleca.png) 0px 0px no-repeat;
    background-size: 100%;
}
.muestro-encuestas {
    width: 600px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-shadow: 0px 0px 1px #a0a0a0;
    background-color: #90c07c;
    text-align: center;
    font-size: 45px;
    line-height: 95px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px #000;
    cursor: pointer;
}
.tituloEncuesta {
    position: absolute;
    background-color: #70b447;
    background-position: 0px 16px;
    top: 25px;
    left: 774px;
    width: 250px;
    height: 30px;
}
.tituloEncuesta:before {
    content: "Encuestas";
    position: absolute;
    top: -8px;
    left: -200px;
    font-family: "interM";
    font-size: 40px;
    color: #cd1518;
    text-align: center;
    text-transform: initial;
    font-weight: bold;
    /* box-shadow: #bdbdbd 0px 0px 5px -1px; */
}
.muestro-1{
	margin-top: 100px;
}
.muestro-2{
	margin-top: 50px;
}
.muestro-3{
	top: 465px;
}
.sub-titulo-int{
	font-size: 22px;
}
.titulo-pre-enc{
	    text-align: center;
    font-size: 18px;
}
#content {
    height: 768px;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../img/fondo_envio.jpg);
}
#evaluacion {
    /* border: solid; */
    width: 910px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: #c82348;
    font-family: "interM";
    font-size: 14px;
    overflow: auto;
    z-index: auto;
    background-color: rgb(255, 255, 255);
}
#evaluacion2 {
    /* border: solid; */
    width: 910px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    color: #c82348;
    font-family: "interM";
    font-size: 14px;
    overflow: auto;
    z-index: auto;
    background-color: rgb(255, 255, 255);
}

#top {
    height: 190px;
}
#title {
    margin-top: 160px;
    margin-left: 85px;
    text-align: center;
    width: 870px;
    font-family: "interM";
    font-size: 17px;
    font-weight: bold;
    color: #000000;
}
#title2 {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding: 10px 30px 10px 30px;
    width: 870px;
    font-family: "interM";
    font-size: 16px;
    font-weight: bold;
    color: #000000;
   /* background-color: rgba(250,235,206,0.5);*/
}
.title2{
	margin-top: 20px;
    text-align: center;
    width: 870px;
    font-family: "interM";
    font-size: 20px;
    font-weight: bold;
}

/* Encuestas */
#pre1, #pre2, #pre3, #pre4, #pre5, #pre6, #pre7, #pre8, #pre9, #pre10, #pre11, #pre12, #pre13, #pre14, #pre15, #pre16, #pre17, #pre18, #pre19, #pre20, #data, #oculto, #send, #correo {
    border-spacing: 1px 8px;
    border-collapse: separate;
}
#pre1, #pre2, #pre3, #pre4, #pre5, #pre6, #pre7, #pre8, #pre9, #pre10, #pre11, #pre12, #pre13, #pre14, #pre15, #pre16, #pre17, #pre18, #pre19, #pre20 {
    width: 880px;
    font-family: verdana;
    font-size: 16px;
    margin-top: 1px;
    color: #000000;
    /* border: 1px solid blue; */
}
.textareaClass {
    width: 860px;
    height: 80px;
    color: black;
    background: rgba(0, 0, 0, .0001);
    padding: 10px;
    font-size: 16px;
    font-family: verdana;
}
.res1,.res2,.res3,.res4,.res5,.res6,.res7,.res8,.res9,.res10 {
  color: #000;
}
#conditions {
    margin-top: 20px;
    border-spacing: 10px 5px;
    border-collapse: separate;
}
.black {
   color: black; 
}
#enviar {
    margin-left: 455px;
    margin-top: 10px;
    font-size: 30px;
}
.textoCuestionario {
    text-align: right;
    font-family: "interM";
    font-size: 14px;
    color: black;
    margin-left: 10px;
    margin-top: 10px;
    color: #000000
}
.textoCuestionario2 {
    text-align: right;
    font-family: "interM";
    font-size: 16px;
    color: black;
    margin-left: 10px;
    margin-top: 10px;
    color: #000000
}
#datos {
	margin-top: 30px;
	border-spacing: 10px 15px;
	border-collapse: separate;
}

#data {
    width: 850px;
    font-family: "interM";
    font-size: 16px;
    margin-top: 30px; 
}

#email {
    width: 300px;
}

#oculto {
    display: none;
}

#nombre {
    width: 300px;
} 