@app: #52acb3;
@green_ligth: #50b2ac;
@green_dark: #0f3b3c;
@yellow_light: #f3d00e;
@yellow_dark: #dfa427;

.border-radius(@radius: 50px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.century(@size: 30px, @top: 25px, @lineHeight: 30px, @color: #ffffff) {
	font-family: century;
	font-size: @size;
	color: @color;
	line-height: @lineHeight;
	top: @top;
}

.background(@url: '../img/gral/background.jpg',@size: 414px, @width: 414px, @height: 736px) {
	background-image: url(@url);
	background-repeat: no-repeat;
	background-size: @size;
	width: @width;
    height: @height;
}

.sizeElement(@width: 414px, @height: 736px, @top: 0px, @left: 0px) {
	width: @width;
	height: @height;
	top: @top;
	left: @left;
	font-family: century;	
}

.title(@size: 28px, @color: #4c423c) {
	text-transform: uppercase;
	font-family: centuryB !important;
	font-size: @size;
	color: @color;
}

@font-face {
  font-family: centuryB;
  src: url("/fonts/century_gothic_bold.otf");
}

@font-face {
  font-family: century;
  src: url("/fonts/century_gothic.otf");
}

body {
	.sizeElement;
}

#contenedor {
	.sizeElement;
}

.paginas {
	.background;
	border: solid 1px red;   
}

.logo-empa {
	.background('../img/home/logo_empa.png', 110px, 120px, 85px );
    position: absolute;
    top: 37px;
    left: 278px;
}

.menu {
	.background('../img/home/menu.png', 70px, 71px, 55px );
	position: absolute;
    top: 37px;
    left: 32px;
    cursor: pointer;
}

.btn-menu {
	background: linear-gradient( 180deg, @green_ligth, @green_dark 185px);
	.border-radius;
	position: absolute;
	.sizeElement(300px, 80px, 185px, 57px);
	cursor: pointer;

	&:before {
		content: "";
		background: linear-gradient( 0deg, @yellow_light, @yellow_dark);
		position: absolute;
		.sizeElement(90px, 90px, -5px, 0px);
		.border-radius(100%);
    }	

    &:after {
	    content: "";
	    position: absolute;
	    left: 5px;

	    .background('../img/home/icon-bar.png', 235px, 80px, 80px );
	    background-position: 8px 5px;
	}
}

.sub-encuestas {
	top: 325px;
}

.sub-encuestas:after {
    background-position: -78px 5px;
}

.sub-pregunta-experto {
	top: 465px;
}

.sub-pregunta-experto:after {
    background-size: 220px;
    background-position: -146px 12px;
}

.txt-btn-menu {
    position: absolute;
    width: 165px;
    left: 105px;
    text-transform: uppercase;
    .century;
}

.sub-pregunta-experto > .txt-btn-menu {
	.century(25px, 10px);
}

/****************** styles experto *************************/

.title-app {
	position: absolute;
	.title;	
	.sizeElement(350px, 30px, 130px, 32px);
	    
	&:first-letter {
		.title(28px, @app);
	}
}

#pregunta-ponente {
	position: absolute;
	.sizeElement(356px, 360px, 210px, 29px);
	border: solid 4px @app;
	.border-radius(10px);
}

.tanger-live {
	background-image: url(../img/gral/background-internas.jpg);	
}
