@green_ligth: #50b2ac;
@green_dark: #0f3b3c;
@yellow_light: #f3d00e;
@yellow_dark: #dfa427;

.border-radius(@radius: 50px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.century(@size: 30px, @top: 25px, @lineHeight: 30px, @color: #ffffff) {
	font-family: century;
	font-size: @size;
	color: @color;
	line-height: @lineHeight;
	top: @top;
}

@font-face {
  font-family: interB;
  src: url("/fonts/Interstate-Mono-Bold.otf");
}

@font-face {
  font-family: century;
  src: url("/fonts/century_gothic.otf");
}

body{
	width: 1024px;
	height: 768px;
	border: solid 1px;
	font-family: century;
}

.btn-menu {
	background: linear-gradient( 180deg, @green_ligth, @green_dark 185px);
	.border-radius;
	position: absolute;
	top: 100px;
	left: 500px;
	width: 300px;
	height: 80px;
	cursor: pointer;

	&:before {
		content: "";
		background: linear-gradient( 0deg, @yellow_light, @yellow_dark);
		position: absolute;
		top: -5px;
		.border-radius(100%);
		width: 90px;
		height: 90px;
    }	

    &:after {
	    content: "";
	    position: absolute;
	    left: 5px;

	    background-image: url(../img/home/icon-bar.png);
	    background-repeat: no-repeat;
	    background-position: 8px 5px;
	    background-size: 235px;

	    width: 80px;
	    height: 80px;
	}
}

.sub-encuestas {
	top: 250px;
}

.sub-encuestas:after {
    background-position: -78px 5px;
}

.sub-pregunta-experto {
	top: 450px;
}

.sub-pregunta-experto:after {
    background-size: 220px;
    background-position: -146px 12px;
}

.txt-btn-menu {
    position: absolute;
    width: 165px;
    left: 105px;
    text-transform: uppercase;
    .century;
}

.sub-pregunta-experto > .txt-btn-menu {
	.century(25px, 10px);
}